.wrap {
    height: 100%;
    overflow: hidden;
    display: flex;

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-grow: 1;
        padding-top: 32px;
        margin-left: 32px;
        margin-right: 32px;
        box-sizing: border-box;

        .title {
            margin-left: 16px;
            color: white;
            display: flex;
            align-items: center;

            .title-text {
                font-size: 28pt;
                margin-right: 8px;
            }
        }

        .main-input {
            margin-top: 32px;
            background-color: white;
            border-radius: 16px;
            padding: 32px;
            padding-top: 24px;
            padding-bottom: 24px;
            margin-bottom: 12px;
            -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow:    4px 4px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow:         4px 4px 10px 0px rgba(0, 0, 0, 0.2);

            form {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;

                mat-form-field {
                    flex-grow: 1;
                    margin-left: 20px;
                }
            }
        }

        .items {
            margin-top: 16px;
            flex-grow: 1;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            padding-right: 8px;

            .loader {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .lists {
                .list-title {
                    color: white;
                    font-size: 16pt;
                    margin-left: 16px;
                }
            }
        }
    }

    .item-info {
        width: 440px;
        backdrop-filter: brightness(130%) blur(14px);
        -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow:    3px 3px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow:         3px 3px 20px 0px rgba(0, 0, 0, 0.1);
    }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
}
