.wrap {
    height: 100%;
    padding-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;

    .title {
        font-size: 32pt;
        color: white;
        margin-left: 16px;
    }

    .main-input {
        margin-top: 32px;
        background-color: white;
        border-radius: 16px;
        padding: 32px;
        padding-top: 24px;
        padding-bottom: 24px;
        -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    4px 4px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow:         4px 4px 10px 0px rgba(0, 0, 0, 0.2);

        form {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            mat-form-field {
                flex-grow: 1;
                margin-left: 20px;
            }
        }
    }

    .items {
        margin-top: 16px;
        flex-grow: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding-right: 8px;

        .loader {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .lists {
            .list-title {
                color: white;
                font-size: 16pt;
                margin-left: 16px;
            }
        }
    }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
}
