.wrap {
    display: flex;
    height: 100%;

    nav {
        height: 100%;
        width: 440px;
        backdrop-filter: brightness(150%) blur(14px);
        -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow:    3px 3px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow:         3px 3px 20px 0px rgba(0, 0, 0, 0.1);
    }

    main {
        height: 100%;
        width: calc(100% - 440px);
    }
}
