@import '../../styles/variables.scss';

.wrap {
    margin-top: 16px;
    margin-bottom: 16px;

    .card {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0.7) 100%);
        border-radius: 16px;
        padding: 20px;
        display: flex;
        align-items: center;
        -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    4px 4px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow:         4px 4px 10px 0px rgba(0, 0, 0, 0.2);
    }
}

::ng-deep .mat-checkbox-label {
    font-size: 14pt;
    margin-left: 8px;
}

::ng-deep  .mat-checkbox-checked {
    .mat-checkbox-label {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        text-decoration-color: $primary;
        color: rgb(130, 130, 130);
    }
}
