.wrap {
    margin-top: 16px;

    .card {
        background-color: white;
        border-radius: 16px;
        padding: 20px;
        -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    4px 4px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow:         4px 4px 10px 0px rgba(0, 0, 0, 0.2);
    }
}
