<div class="wrap">
    <div class="card" (click)="onItemClick()">
        <div class="completed-wrap" (click)="checkClick($event)">
            <mat-checkbox
                class="completed"
                color="primary"
                (change)="onCheck()"
                [(ngModel)]="completed"
                [disabled]="pending"
            >
            </mat-checkbox>
        </div>
        <div class="text" [class.completed]="completed">
            {{ title }}
        </div>
    </div>
</div>
