@import '../../styles/variables.scss';

.wrap {
    margin-top: 16px;
    margin-bottom: 16px;

    .card {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.85) 35%, rgba(255, 255, 255, 0.7) 100%);
        border-radius: 16px;
        padding: 20px;
        display: flex;
        align-items: center;
        -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    4px 4px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow:         4px 4px 10px 0px rgba(0, 0, 0, 0.2);
        transition: 0.15s;
        display: flex;

        &:hover {
            cursor: pointer;
            background-color: white;
            transition: 0.15s;
        }

        .text {
            margin-left: 8px;
            font-size: 14pt;

            &.completed {
                text-decoration: line-through;
                text-decoration-thickness: 2px;
                text-decoration-color: $primary;
                color: rgb(130, 130, 130);
                word-wrap: break-word;
            }
        }
    }
}
