$button-size: 46px;
$icon-size: 40px;

.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;

        .title {
            color: white;
            font-size: 16pt;
        }

        button {
            height: $button-size;
            width: $button-size;
            line-height: $button-size;

            mat-icon {
                color: white;
                font-size: $icon-size;
                height: $icon-size;
                width: $icon-size;
                line-height: $icon-size;
            }
        }
    }

    .lists {
        flex-grow: 1;
        overflow-y: auto;

        .list-item {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 16px;
            padding-top: 24px;
            padding-bottom: 24px;
            background-color: transparent;
            transition: 0.15s;
            text-decoration: none;

            &:hover {
                transition: 0.15s;
                background-color: rgba(255, 255, 255, 0.3);
            }

            &.active {
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.6) 100%);

                mat-icon, .title {
                    color: black;
                }
            }

            mat-icon {
                color: white;
                margin-right: 16px;
            }

            .title {
                color: white;
                font-size: 16pt;
            }
        }
    }
}
