<div class="wrap">
    <div class="card" [@cardOpen]="cardState">
        <form [formGroup]="loginForm">
            <div class="title">
                Sign In
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" fromFieldName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" fromFieldName="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-flat-button color="primary">
                Sing In
            </button>
            <a [routerLink]="'/register'" class="register-link">
                or create an account
            </a>
        </form>
    </div>
</div>
