<div class="wrap">
    <div class="card" [@cardOpen]="cardState">
        <form [formGroup]="loginForm">
            <div class="title">
                Sign In
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>{{ getErrorMessage(loginForm.controls.email) }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" formControlName="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error>{{ getErrorMessage(loginForm.controls.password) }}</mat-error>
            </mat-form-field>
            <button mat-flat-button color="primary">
                Sign In
            </button>
            <a [routerLink]="'/register'" class="register-link">
                or create an account
            </a>
        </form>
    </div>
</div>
