.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
        width: fit-content;
        height: fit-content;
        color: white;
        font-size: 22pt;
    }
}
