@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&display=swap');

::ng-deep html, ::ng-deep body {
    height: 100%;
    overflow: hidden;
}

.wrap {
    height: 100%;

    nav {
        height: 82px;
        display: flex;
        justify-content: center;
        backdrop-filter: brightness(110%) blur(8px);
        -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow:    3px 3px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow:         3px 3px 20px 0px rgba(0, 0, 0, 0.1);

        .logo-wrap {
            height: 100%;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;

            .logo-text {
                color: white;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                font-size: 32pt;
                font-family: 'Be Vietnam Pro', sans-serif;
            }
        }
    }

    main {
        height: calc(100% - 82px);
    }
}
