@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&display=swap');

$button-size: 70px;
$icon-size: 46px;

.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;

    .logo {
        text-align: center;
        padding-top: 32px;
        padding-bottom: 32px;

        a {
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            font-size: 28pt;
            font-family: 'Be Vietnam Pro', sans-serif;
            width: fit-content;
            text-decoration: none;
        }
    }

    mat-icon {
        color: black;
    }

    .user {
        display: flex;
        justify-content: space-between;
        margin-left: 12px;
        margin-right: 12px;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 16px;
        border-radius: 32px;
        backdrop-filter: brightness(130%) blur(14px);
        -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow:    3px 3px 8px 0px rgba(0, 0, 0, 0.15);
        box-shadow:         3px 3px 8px 0px rgba(0, 0, 0, 0.15);


        .info {
            cursor: default;
            display: flex;
            align-items: center;

            mat-icon {
                font-size: $button-size;
                height: $button-size;
                width: $button-size;
            }

            .user-name {
                margin-left: 16px;
                color: black;
                font-size: 20pt;
            }
        }

        .logout {
            button {
                height: $button-size;
                width: $button-size;
                line-height: $button-size;

                mat-icon {
                    font-size: $icon-size;
                    height: $icon-size;
                    width: $icon-size;
                    line-height: $icon-size;
                }
            }

            .mat-button-ripple {
                font-size: inherit;
                width: inherit;
                height: inherit;
                line-height: inherit;
            }
        }
    }

    .lists {
        flex-grow: 1;
        overflow-y: auto;
        margin-top: 32px;
    }

    .app-info {
        height: 128px;
        background: rgba(0, 0, 0, 0.25);
        color: rgba(255, 255, 255, 0.6);
        font-size: 11pt;
        padding: 32px;
        box-sizing: border-box;

        .social-links {
            margin-top: 8px;

            mat-icon {
                margin-right: 12px;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.6);
                transition: 0.15s;

                &:hover {
                    transition: 0.15s;
                    color: white;
                }
            }
        }
    }
}
