<div class="wrap">
    <div class="logo">
        <a routerLink="main">MEAN-TODO</a>
    </div>
    <div class="user">
        <div class="info">
            <mat-icon>account_circle</mat-icon>
            <div class="user-name">{{ userName }}</div>
        </div>
        <div class="logout">
            <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
    <div class="lists">
        <todo-list></todo-list>
    </div>
    <div class="app-info">
        The application was developed by Vladislav Brezgun
        <br>
        Email: nextydev@gmail.com
        <div class="social-links">
            <a [href]="links.linkedin"><mat-icon svgIcon="linkedin"></mat-icon></a>
            <a [href]="links.github"><mat-icon svgIcon="github"></mat-icon></a>
        </div>
    </div>
</div>
